.title {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
}

.info {
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
}

.characters {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
}